html {
    background-color: black;
}
body {
    position: relative;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 100%;
    color: white;
}

#randomColor {
    opacity: 70%;
}

#currentSetLabel {
    color: white;
    opacity: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}